@use "../../styles/util" as *;

.order-summary {
  padding: 30px 0;

  &__container {
    display: grid;
    grid-template-rows: min-content 0fr;
    gap: 12px;
    transition: grid-template-rows $trans-default;

    &--opened {
      grid-template-rows: min-content 1fr;
    }

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content 1fr;
      row-gap: 15px;
      justify-content: space-around;
    }
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__button {
    grid-row: 1;
    width: 230px;

    &:not(:first-child) {
      justify-self: end;
    }
  }

  &__list {
    min-height: 0;
    overflow: hidden;
    margin: 0;
    background-color: $secondary-background;
    border-radius: 10px;
    list-style: none;
    grid-column: 1;
    grid-row: 2;


    @include vp-767 {
      grid-column: 1/3;
      grid-row: 2;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    column-gap: 16px;
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-light;
    }
  }
}