@use "@styles/util" as *;

.order-summary {
  padding: 30px 0;

  &__container {
    display: grid;
    grid-template-rows: min-content min-content 0fr;
    gap: 12px;
    transition: grid-template-rows $trans-default;

    &--opened {
      grid-template-rows: min-content min-content 1fr;
    }

    @include tablet-width {
      grid-template-rows: min-content 0fr;

      &--opened {
        grid-template-rows: min-content 1fr;
      }
    }

    @include desktop-width {
      grid-template-columns: max-content 250px;
    }
  }

  &__heading {
    margin-bottom: 30px;
  }

  &__button {
    grid-column: 1 / -1;
    max-width: 100%;

    &--expand {
      grid-row: 2;
    }

    &--order {
      grid-row: 1;
    }

    @include tablet-width {
      grid-column: auto;

      &--expand,
      &--order {
        grid-row: auto;
      }

      &--order {
        justify-self: end;
      }
    }
  }

  &__list {
    padding: 0 10px;
    margin: 0;
    min-height: 0;
    overflow: hidden;
    background-color: $secondary-background;
    border-radius: 10px;
    list-style: none;
    grid-column: 1;
    grid-row: 3;


    @include tablet-width {
      grid-column: 1/3;
      grid-row: 2;
    }
  }

  &__list-item {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    column-gap: 16px;
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid $color-light;
    }
  }
}