@use "../../styles/util" as *;

.order-summary {
  padding: 30px 0;

  &__container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include vp-767 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content 1fr;
      row-gap: 15px;
      justify-content: space-around;
    }
  }

  &__button {
    width: fit-content;

    &:not(:first-child) {
      justify-self: end;
    }
  }

  &__list {
    @include vp-767 {
      grid-column: 1/3;
      grid-row: 2;
    }
  }
}