@use "util" as *;

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px 15px 0;

  @include tablet-width {
    padding: 15px 60px 0;
  }

  @include desktop-width {
    padding: 20px 100px 0;
  }
}


//TODO: mobile-first, order summary