.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 100px 0;

  @include vp-1199 {
    padding: 15px 60px 0;
  }

  @include vp-767 {
    padding: 15px 15px 0;
  }
}

//TODO: mobile-first, order summary