@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: 24px;
  font-family: $ff-roboto;
  color: $main-text;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  flex-direction: column;

  background-color: $main-background;
}

main {
  flex-grow: 1;
}

h1, h3 {
  margin: 0;

  font-weight: 400;
}

a {
  color: $color-default-black;
  text-decoration: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  cursor: pointer;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  min-width: 330px;
  max-width: 1300px;

  @include vp-959 {
    display: block;
  }
}