@use "../../styles/util" as *;

.services-list {
  padding: 0;
  width: min(100vw, 600px);

  font-size: 20px;
  list-style: none;

  @include vp-767 {
    width: 100%;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    column-gap: 16px;
    padding: 20px 0;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $color-light;
  }

}