@use "@styles/util" as *;

.services-list {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  padding: 0 10px;
  background-color: $secondary-background;
  border-radius: 10px;

  font-size: 15px;
  list-style: none;


  @include desktop-width {
    width: min(100vw, 600px);

    font-size: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    align-items: center;
    column-gap: 16px;
    padding: 20px 0;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid $color-light;
  }

}