// Colors

// Project palette

$main-background: rgba(169, 195, 236, 0.09);
$secondary-background: #d1d7ed3b;
$main-text: #212120;
$color-light: #c8c8c45e;

// Typography

$fz-default: 16px;
$ff-roboto: "Roboto", "Segoe UI", sans-serif;

// Viewports

$tablet: 768px;
$desktop: 1241px;

//Transition

$tf-default: ease;
$trans-default: 0.3s $tf-default;
