// tablet
@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-959 {
  @media (max-width: ($vp-960 - 1px)) {
    @content;
  }
}

// mobile
@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}


@mixin vp-349 {
  @media (max-width: ($vp-350 - 1px)) {
    @content;
  }
}
