// Colors

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette

$main-background: rgba(169, 195, 236, 0.09);
$secondary-background: #d1d7ed3b;
$main-text: #212120;
$color-light: #c8c8c45e;

// Typography

$fz-default: 16px;
$ff-roboto: "Roboto", "Segoe UI", sans-serif;

// Viewports

$vp-350: 350px;
$vp-768: 768px;
$vp-960: 960px;
$vp-1200: 1200px;

//Transition

$tf-default: ease;
$trans-default: 0.3s $tf-default;
